
.header{
  height: 90px;
  background-color: rgb(160, 201, 229);
}
h1{
  padding-top: 20px;
}
.container{
  margin-top: 45px;
  border: 3px solid rgb(111, 150, 175);
}
.header_table{
  margin-top: 3px;
  margin-bottom: 10px;
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  
}
.form_upload{
  display: flex;
}
.page{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}